section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 0.1px solid #fff;

  a {
    text-decoration: none;
    color: #fff;

    h1 {
      font-size: 2em;
      border-bottom: 5px solid #fff;
    }
  }

  .navigation {
    width: 40%;

    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;

      li {
        a {
          color: #fff;
          text-decoration: none;
          border-bottom: 2px solid #fff;
        }
        :hover {
          color: #D9D9D9;
          border-bottom: 2px solid #D9D9D9;
        }
      }
    }
  }  
}